/* custom properties */
:root {
  --primary-color-: black;
  --secondary-color: rgba(0, 0, 0, 0.543);
  --tetiary-color: grey;
}

/* css resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  padding-top: 5rem;
}

p {
  text-align: center;
}

button {
  background-color: unset;
  border: none;
}

.bx {
  font-size: 1.5rem;
}

/* utility classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
}

/* todo-wrap */
.todo-wrap {
  border: 1px solid black;
  margin: 2rem auto;
  flex-direction: column;
}

.form {
  justify-content: space-between;
}

.input,
.item {
  height: 2rem;
  width: 100%;
  background-color: var(--tetiary-color);
  color: var(--primary-color-);
  outline: none;
  border: none;
}

input::placeholder,
.item::placeholder {
  color: var(--secondary-color);
  font-style: italic;
}

input:focus {
  outline: none;
  border: none;
}

.todo-list {
  width: 100%;
  max-height: 30vh;
  overflow: scroll;
}

.todo-list::-webkit-scrollbar {
  display: none;
}

.box {
  margin-right: 1rem;
}

.clear-list {
  justify-content: center;
  padding: 0;
}

.clear-all {
  width: 100%;
  padding: 1.5rem;

  /* height: 100%; */
  background-color: var(--secondary-color);
  color: rgba(240, 248, 255, 0.822);
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.543);
  color: rgba(240, 248, 255, 0.822);
  height: 4rem;
  padding: 1.5rem;
  display: none;
}

.info {
  font-size: 2rem;
}
