/* custom properties */
:root {
  --primary-color-: #795c5f;
  --secondary-color: #d9b26f;
  --tetiary-color: #fadf7f;
  --tetiary-color-1: #f2e29f;
}

/* css resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tetiary-color-1);
  font-size: 1rem;
  padding-top: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-size: 5rem;
  color: var(--primary-color-);
}

p {
  text-align: center;
}

button {
  background-color: unset;
  border: none;
}

.bx {
  font-size: 1.5rem;
}

/* utility classes */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
  filter: drop-shadow(2px 2px 2px);
}

/* todo-wrap */
.header {
  background-color: var(--tetiary-color);
  margin: 4px 0;
}

.todo-wrap {
  border: 1px solid black;
  margin: 1rem auto;
  flex-direction: column;
  background-color: var(--secondary-color);
}

.form {
  justify-content: space-between;
  background-color: var(--tetiary-color);
}

.input,
.item {
  height: 2rem;
  width: 100%;
  color: var(--primary-color-);
  background-color: var(--tetiary-color);
  outline: none;
  border: none;
}

input::placeholder,
.item::placeholder {
  color: var(--secondary-color);
  font-style: italic;
}

input:focus {
  outline: none;
  border: none;
}

.todo-list {
  width: 100%;
}

.todo {
  background-color: var(--tetiary-color);
  border-radius: 4px;
  margin: 3px 0;
}

.box {
  margin-right: 1rem;
}

.update {
  margin: 0.5rem;
  font-size: 2rem;
}

.ticked {
  text-decoration: line-through;
  font-style: italic;
}

.clear-list {
  justify-content: center;
  background-color: var(--tetiary-color);
  padding: 0;
}

.clear-all {
  width: 100%;
  padding: 1.5rem;
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.543);
  color: rgba(240, 248, 255, 0.822);
  height: 4rem;
  padding: 1.5rem;
}

.info {
  font-size: 2rem;
}
